<deployment>
   <hosts>
    <host name="localhost"
          dir="/home/creator/IdeaProjects/CPS-Projet/deployment/"/>
  </hosts>
  <cyclicBarrier   hostname="localhost" port="55253"/>
  <globalRegistry  hostname="localhost" port="55252"/>
  <rmiRegistryPort no="55999"/>
  <jvms2hostnames>
    <jvm2hostname jvmuri="GROUP_A_JVM"
        rmiRegistryCreator="true"
        hostname="localhost"
        mainclass="fr.sorbonne_u.cps.pubsub.DistributedCVM"
        reflective="true"/>
    <jvm2hostname jvmuri="GROUP_B_JVM"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="fr.sorbonne_u.cps.pubsub.DistributedCVM"
        reflective="true"/>
      <jvm2hostname jvmuri="GROUP_C_JVM"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="fr.sorbonne_u.cps.pubsub.DistributedCVM"
        reflective="true"/>
  </jvms2hostnames>
</deployment>